In [1]:
import pandas as pd

base = pd.read_json("FieldSchema.json")

base.head()

             name            type comment
0     numero_guia  decimal(38,10)
1  sequencia_guia  decimal(38,10)
2        tipo_reg  decimal(38,10)
3       id_unimed        smallint
4        id_tempo             int

In [2]:
base.columns

Index(['name', 'type', 'comment'], dtype='object')

In [3]:
values = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

In [5]:
base['values', values]

TypeError: '('values', ['Delhi', 'Bangalore', 'Chennai', 'Patna'])' is an invalid key